:root{
    --primaryColor:rgb(255, 32, 110);
    --mainFont:"Open Sans",sans-serif;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:var(--primaryColor);
}
.hero{
    background-image:url(./../image/bg.jpg);
    background-size: cover;
    font-family: var(--mainFont);
}
.hero a{
    color:var(--primaryColor);
}
.about{
    background-image: url(./../image/light_dot.jpg);
    font-family: var(--mainFont);
    background-attachment: fixed;
}
.about span{
    color: var(--primaryColor);
}
.portfolio{
    background-image: url(./../image/light_dot.jpg);
    font-family: var(--mainFont);
    background-attachment: fixed;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--primaryColor);
}
.nav-link , .nav-link:focus , .nav-link:hover{
    color: black;
}
.nav-tabs .nav-link{
    border: none;
}
.nav-tabs{
    border: none;
}
.w_85{
    width: 85px;
}
.test_img{
    border: 2px solid #fff;

}
.border_bottom{
    border-bottom: solid 1px var(--primaryColor);
    width: 50px;
    
}
.carousel-indicators [data-bs-target]{
    width: 5px;
    height: 5px;
}
